# Maps every identity a team member has committed under to one canonical
# name, so `git shortlog -sn` and `git log` count contributions correctly
# for the technical report. GitHub's own contributor graph does not read
# this file - link your extra email addresses in GitHub Settings > Emails.

Cong Bao Nguyen <cong.b.nguyen-1@student.uts.edu.au> Bao Bao <cong.b.nguyen-1@student.uts.edu.au>
Cong Bao Nguyen <cong.b.nguyen-1@student.uts.edu.au> CongNguyen46 <cong.b.nguyen-1@student.uts.edu.au>
Cong Bao Nguyen <cong.b.nguyen-1@student.uts.edu.au> bao040605 <congbao0406@gmail.com>
Cong Bao Nguyen <cong.b.nguyen-1@student.uts.edu.au> Bảo Bảo <baobao@MacBook-Air-cua-Bao.local>

Duc Minh Khoi Tran <DucMinhKhoi.Tran@student.uts.edu.au> Duc_tran <khoi2532005@gmail.com>
Duc Minh Khoi Tran <DucMinhKhoi.Tran@student.uts.edu.au> Duc Tran <khoi2532005@gmail.com>
Duc Minh Khoi Tran <DucMinhKhoi.Tran@student.uts.edu.au> Duc Tran <DucMinhKhoi.Tran@student.uts.edu.au>
Duc Minh Khoi Tran <DucMinhKhoi.Tran@student.uts.edu.au> Duc_tran <DucMinhKhoi.Tran@student.uts.edu.au>
Duc Minh Khoi Tran <DucMinhKhoi.Tran@student.uts.edu.au> unknown <khoi2532005@gmail.com>
Duc Minh Khoi Tran <DucMinhKhoi.Tran@student.uts.edu.au> TRAN DUC MINH KHOI <khoi@TRANs-MacBook-Air.local>